body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f0f0f0;
}

header {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: darkcyan;
background-color: rgb(233, 186, 104) ;
text-align: center;
padding: 20px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color:gainsboro;
    margin-top: 20px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: gray;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.about-content {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    padding: 20px;
    text-align: left;
}

.about-content img {
    max-width: 300px;
    margin-right: 20px;
}